body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h1{
  margin: 0 0;
  padding: 1% 0;
}
body {
  text-align: center;
  height: 100vh;

  background: hsla(141, 81%, 87%, 1);
  background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F7D486", GradientType=1 );
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#increaseButton, #decreaseButton{
  margin: 0 2rem;
}


#scrollingTextarea {
  overflow-y: scroll; 
  
  height: 85%;
  width: 50%;
}

@media screen and (max-width: 768px) {
  #scrollingTextarea {
    overflow-y: scroll; 
    margin-bottom: 0.5rem;
    height: 85%;
    width: 80%;
  }
  button{
    margin-right: .35rem;
  }
  
}

@media screen and (max-width: 480px) {
  #scrollingTextarea {
    overflow-y: scroll; 
    margin-bottom: 1rem;
    height: 85%;
    width: 90%;
  }
  button{
    margin-right: .35rem;
  }
  
}

